/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.video {
  position: relative;
}
  .hero-heading-big{
    font-weight: 100;
  }

.gradient {
    background: -moz-linear-gradient(45deg, #6abd46 0%, #0ff9cF 100%);
    /* ff3.6+ */

    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #6abd46), color-stop(100%, #0ff9cF));
    /* safari4+,chrome */

    background: -webkit-linear-gradient(45deg, #6abd46 0%, #0ff9cF 100%);
    /* safari5.1+,chrome10+ */

    background: -o-linear-gradient(45deg, #6abd46 0%, #0ff9cF 100%);
    /* opera 11.10+ */

    background: -ms-linear-gradient(45deg, #6abd46 0%, #0ff9cF 100%);
    /* ie10+ */

    background: linear-gradient(45deg, #6abd46 0%, #0ff9cF 100%);
    /* w3c */

    /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0ff9cF', endColorstr='#6abd46', GradientType=1);
    /* ie6-9 */
}
.fondoverde {background: $Verde;}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description {
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
      color: #fff;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
  .hero-heading-big{
    font-size:12rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
    .hero-heading-big{
    font-size:13rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
    .hero-heading-big{
    font-size:14rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}

/* centra verticale */
 .section {
  position: relative;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 /* footer section*/
.footer_section{
  padding: 5rem 0 5rem;

}
